language: julia
os:
    - linux
    - osx
coveralls: true
julia:
    - 1.0
    - 1.1
    - nightly
notifications:
    email:
      on_success: change
      on_failure: always
matrix:
    allow_failures:
        - julia: nightly
after_success:
- julia -e 'using Pkg; cd(Pkg.dir("SeisNoise")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
- julia -e 'Pkg.add("Documenter")'

jobs:
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
